:root {
  --accent-color: rgb(192, 48, 28);
  --text-color: #555;
  --background-color: #f8f8f8;
  --font-family: 'Roboto Slab', serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
}

.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.sections {
  padding: 98px 0;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../images/header/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 28px 0 258px 0;
}

.navigation {
  margin-bottom: 250px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  padding: 10px 0;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list-item {
  margin-right: 32px;
}

.navigation__list-item:last-child {
  margin-right: 0;
}

.navigation__list-link {
  position: relative;
  letter-spacing: 0.35px;
  color: #fff;
  padding: 10px 0;
}

.navigation__list-link::after {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  content: '';
  height: 3px;
  background-color: var(--accent-color);
  transition: width 250ms ease-in-out, visibility 250ms ease-in-out;
  visibility: hidden;
}

.navigation__list-link:hover::after {
  width: 100%;
  visibility: visible;
}

.header__title {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.header__description {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 52px;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.modal-btn:hover {
  background-color: #fff;
  color: var(--accent-color);
}

.sections-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.sections-title::after {
  display: block;
  content: '';
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin: 0 auto;
  margin-top: 28px;
}

.sections-description {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 72px;
}

.services {
  padding-top: 98px;
  padding-bottom: 98px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.services__list-item {
  flex-basis: 33.3%;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 30px;
}

.services__list-item-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 18px;
}

.services__list-item::before {
  display: block;
  content: '';
  width: 86px;
  height: 86px;
  border: 2px solid #ddd;
  border-radius: 50%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 26px;
}

.services__list-item:nth-child(1)::before {
  background-image: url('../images/services/font.png');
}

.services__list-item:nth-child(2)::before {
  background-image: url('../images/services/code.png');
}

.services__list-item:nth-child(3)::before {
  background-image: url('../images/services/support.png');
}

.services__list-item-description {
  font-family: var(--font-family);
  font-weight: 400;
}

.about {
  background-color: var(--background-color);
}

.about__text-wrapper {
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
}

.about__text {
  font-family: var(--font-family);
  width: 556px;
}

.about__slider-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about__slider-item {
  width: 263px;
  text-align: center;
}

.about__slider-item-img-wrapper {
  position: relative;
  margin-bottom: 14px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  border: 5px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  transition: opacity 1000ms ease-in-out, visibility 1000ms ease-in-out;
}

/* .about__slider-item:hover .overlay,
.about__slider-item:hover .overlay__list-item {
  opacity: 1;
  visibility: visible;
} */

.about__slider-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.overlay__list {
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
  display: flex;
}

/.overlay__list-item {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.overlay__list-link {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms ease-in-out;
}

.overlay__list-link-facebook {
  background-image: url('../images/about/facebook.png');
}

.overlay__list-link-twitter {
  background-image: url('../images/about/twitter.png');
}

.overlay__list-link-google-plus {
  background-image: url('../images/about/google-plus.png');
}

.overlay__list-link-linkedin {
  background-image: url('../images/about/inkedin.png');
}

.overlay__list-link:hover {
  background-color: var(--accent-color);
}

.about__slider-item-name {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.about__slider-item-position {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 24px;
}

.slider-btn {
  position: absolute;
  top: 106px;
  width: 35px;
  height: 38px;
  background-color: var(--accent-color);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.prev {
  left: 0;
  background-image: url('../images/about/prev.png');
}

.next {
  right: 0;
  background-image: url('../images/about/next.png');
}

.inactive-btn {
  background-color: rgba(85, 85, 85, 0.2);
}
