/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/montserrat-v14-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --accent-color: rgb(192, 48, 28);
  --text-color: #555;
  --background-color: #f8f8f8;
  --font-family: 'Roboto Slab', serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
}

.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.sections {
  padding: 98px 0;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../images/header/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 28px 0 258px 0;
}

.navigation {
  margin-bottom: 250px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  padding: 10px 0;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list-item {
  margin-right: 32px;
}

.navigation__list-item:last-child {
  margin-right: 0;
}

.navigation__list-link {
  position: relative;
  letter-spacing: 0.35px;
  color: #fff;
  padding: 10px 0;
}

.navigation__list-link::after {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  content: '';
  height: 3px;
  background-color: var(--accent-color);
  transition: width 250ms ease-in-out, visibility 250ms ease-in-out;
  visibility: hidden;
}

.navigation__list-link:hover::after {
  width: 100%;
  visibility: visible;
}

.header__title {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.header__description {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 52px;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.modal-btn:hover {
  background-color: #fff;
  color: var(--accent-color);
}

.sections-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.sections-title::after {
  display: block;
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--text-color);
  margin: 0 auto;
  margin-top: 28px;
}

.sections-description {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 72px;
}

.services {
  padding-top: 98px;
  padding-bottom: 98px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.services__list-item {
  flex-basis: 33.3%;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 30px;
}

.services__list-item-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 18px;
}

.services__list-item::before {
  display: block;
  content: '';
  width: 86px;
  height: 86px;
  border: 2px solid #ddd;
  border-radius: 50%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 26px;
}

.services__list-item:nth-child(1)::before {
  background-image: url('../images/services/font.png');
}

.services__list-item:nth-child(2)::before {
  background-image: url('../images/services/code.png');
}

.services__list-item:nth-child(3)::before {
  background-image: url('../images/services/support.png');
}

.services__list-item-description {
  font-family: var(--font-family);
  font-weight: 400;
}

.about {
  background-color: var(--background-color);
}

.about__text-wrapper {
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
}

.about__text {
  font-family: var(--font-family);
  width: 556px;
}

.about__slider-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about__slider-item {
  width: 263px;
  text-align: center;
}

.about__slider-item-img-wrapper {
  position: relative;
  margin-bottom: 14px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  border: 5px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.about__slider-item:hover .overlay,
.about__slider-item:hover .overlay__list-item {
  opacity: 1;
  visibility: visible;
}

.about__slider-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.overlay__list {
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
  display: flex;
}

.overlay__list-item {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.overlay__list-link {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 300ms ease-in-out;
}

.overlay__list-link-facebook {
  background-image: url('../images/about/facebook.png');
}

.overlay__list-link-twitter {
  background-image: url('../images/about/twitter.png');
}

.overlay__list-link-google-plus {
  background-image: url('../images/about/google-plus.png');
}

.overlay__list-link-linkedin {
  background-image: url('../images/about/inkedin.png');
}

.overlay__list-link:hover {
  background-color: var(--accent-color);
}

.about__slider-item-name {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.about__slider-item-position {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 24px;
}

.slider-btn {
  position: absolute;
  top: 106px;
  width: 35px;
  height: 38px;
  background-color: var(--accent-color);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.prev {
  left: 0;
  background-image: url('../images/about/prev.png');
}

.next {
  right: 0;
  background-image: url('../images/about/next.png');
}

.inactive-btn {
  background-color: rgba(85, 85, 85, 0.2);
}

/* CONTACT */
.contact__content-left-side {
  font-style: normal;
}

.contact__content {
  display: flex;
  justify-content: space-between;
}

.contact__list-item {
  padding-left: 26px;
  background-position-y: 2px;
  background-repeat: no-repeat;
}

.contact__list-item:not(:last-child) {
  margin-bottom: 28px;
}

.contact__list-item_geo {
  background-image: url('../images/contact/geo.png');
}

.contact__list-item_phone {
  background-image: url('../images/contact/phone.png');
}

.contact__list-item_email {
  background-image: url('../images/contact/email.png');
  background-position-y: 6px;
}

.contact__list-item-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.contact__list-item-link {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 20px;
  color: var(--text-color);
  display: inline-block;
}

.contact__list-item-link_br {
  display: block;
}

.contact__list {
  width: 236px;
}

.contact__form {
  width: 732px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__form-input,
.contact__form-message {
  border: 1px solid rgb(85, 85, 85);
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 20px;
  padding-left: 18px;
  margin-bottom: 22px;
}

.contact__form-input::placeholder,
.contact__form-message::placeholder {
  text-transform: uppercase;
}

.contact__form-input {
  flex-basis: 350px;
  height: 42px;
}

.contact__form-input:focus,
.contact__form-message:focus {
  outline: none;
}

.contact__form-input:required:focus:valid:not(:placeholder-shown),
.contact__form-message:required:focus:valid:not(:placeholder-shown) {
  border-color: #00ff00;
}

.contact__form-input:required:focus:invalid:not(:placeholder-shown),
.contact__form-message:required:focus:invalid:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.contact__form-message {
  width: 100%;
  height: 102px;
  resize: none;
  padding-top: 12px;
}

.contact__form-btn-wrapper {
  display: flex;
  align-items: center;
}

.contact__form-btn {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  width: 168px;
  height: 42px;
  border: 1px solid rgb(85, 85, 85);
  text-transform: uppercase;
  color: var(--text-color);
  background-color: #fff;
  margin-right: 40px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.contact__form-btn:hover,
.contact__form-btn:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.contact__form-btn-description {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 20px;
  position: relative;
}

.contact__form-btn-description::before {
  content: '\2217';
  position: absolute;
  top: -5px;
  left: -8px;
  color: var(--accent-color);
}
