:root {
  --accent-color: #1abc9c;
  --text-color: #555252;
  --background-color: #e9f0fd;
}

body {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 32px;
  background-color: #fff;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.clear-fix {
  content: '';
  display: table;
  clear: both;
}
